.app {
  height: 94vh;
  padding: 2.4rem;
  background-color: var(--color-dark--2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.description {
  font-size: 1.2rem;
}
